#!/usr/bin/env sh

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# shortcuts
alias b="bun"
alias br="bun run"
alias g="hub"

# npm shortcuts
alias nl="npm list --depth=0"
alias nlg="npm list --global --depth=0"

# Yarn shortcuts
alias y="yarn"
alias yga="yarn global add"
alias ygl="yarn global list"
alias ygr="yarn global list"
alias yw="yarn workspace"

# Alias tool alternatives
alias cat="bat"
alias ls="exa"
alias ping="prettyping --nolegend"
alias top="htop"
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

# List all files colorized in long format
alias l="exa --git --no-user -lhF"

# List all files colorized in long format, including dot files
alias la="exa --git --no-user -lhFa"

# List only directories
alias lsd="exa --git --no-user -lhFaD"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

alias k=kubectl
